## dirac-jdl.vm
##
## Variables
## $jobName, $scriptPath, $scriptName, $cpuTime, $submitPool,
## $priority, $site $bannedSite, $tags
##
JobName         = "$jobName";
Executable      = "$scriptName";
StdOutput       = "std.out";
StdError        = "std.err";
InputSandbox    = {"$scriptPath/$scriptName"};
OutputSandbox   = {"std.out", "std.err"};
CPUTime         = "$cpuTime";
SubmitPools     = {"$submitPool"};
Priority        = $priority;
Site            = "$site";
BannedSite      = "$bannedSite";
#if ($tags != null && $tags.length() > 0)
Tags            = "$tags";
#end
