## dirac-jdl.vm
##
## Variables
## $jobName, $scriptPath, $scriptName, $cpuTime,
## $priority, $site, $bannedSite, $tags
##
JobName         = "$jobName";
Executable      = "$scriptName";
StdOutput       = "std.out";
StdError        = "std.err";
#if($isMoteurliteEnabled)
InputSandbox    = {"$scriptPath/$scriptName", "$invPath/$invName", "$configPath/$configName", "$workflowFile"};
#else
InputSandbox    = {"$scriptPath/$scriptName"};
#end
OutputSandbox   = {"std.out", "std.err", "${scriptName}.provenance.json"};
CPUTime         = "$cpuTime";
Priority        = $priority;
Site            = "$site";
BannedSite      = "$bannedSite";

## Following line checks that $tags is not null and not empty.
#if ("$!tags" != "")
Tags            = "$tags";
#end